<%= render TendrilTasks::Content.new(width: :large) do %>
  <%= render TendrilTasks::Breadcrumb.new do |breadcrumb| %>
    <% breadcrumb.home %>
    <% breadcrumb.item(t "breadcrumbs.dashboard") %>
  <% end %>

  <%= render TendrilTasks::Heading
               .new(tag: :h1)
               .with_content(t ".title")
  %>
  <%= render TendrilTasks::HorizontalLine.new %>

  <%= render TendrilTasks::Heading
               .new(tag: :h2)
               .with_content(t(".my_applications")) %>

  <%# Show placeholder if user hasn't applied to any task yet %>
  <% if @applications.empty? %>
    <%= render TendrilTasks::Paragraph.new do %>
      <%= t(".applications_placeholder") %>
    <% end %>
    <%= render TendrilTasks::ButtonGrid.new(tag: :a, size: :lg) do |grid| %>
      <% grid.button(href: tasks_path)
             .with_content("Zur Aufgabenübersicht")
      %>
    <% end %>
  <%# Show applications %>
  <% else %>
    <ol class="space-y-4">
      <% @applications.each do |application| %>
        <li>
          <%= render TendrilTasks::Dashboard::Application.new(application) %>
        </li>
      <% end %>
    </ol>
  <% end %>
<% end %>
