<%= render TendrilTasks::Content.new(width: :large) do %>
  <%= render TendrilTasks::Breadcrumb.new do |breadcrumb| %>
    <% breadcrumb.home %>
    <% breadcrumb.item(t "breadcrumbs.dashboard") %>
  <% end %>

  <%= render TendrilTasks::Heading
               .new(tag: :h1)
               .with_content(t ".title")
  %>
  <%= render TendrilTasks::HorizontalLine.new %>
  <% if can? :create, Project %>
    <%# TODO I18n when dashboard left WIP phase %>
    <%= render TendrilTasks::Heading
                 .new(tag: :h2)
                 .with_content("Redaktionelle Aktionen") %>
    <%= render ButtonGridComponent.new(tag: :a, size: :lg) do |grid| %>
      <% grid.button(href: new_project_path)
             .with_content(t ".create_initiative_button")
      %>
      <% grid.button(href: new_task_path)
             .with_content("Aufgabe erstellen") %>
    <% end %>
  <% end %>
  <%= render TendrilTasks::Heading
               .new(tag: :h3)
               .with_content("Themen als Ansprechperson") %>
  <ul>
    <% current_user.projects_as_coordinator.each do |project| %>
    <li><%= link_to project.title, edit_project_path(project) %></li>
    <% end %>
  </ul>
  <%= render TendrilTasks::Heading
               .new(tag: :h3)
               .with_content("Aufgaben als Ansprechperson") %>
  <ul>
    <% current_user.tasks_as_coordinator.each do |task| %>
      <li><%= link_to task.title, edit_task_path(task) %></li>
    <% end %>
  </ul>
<% end %>
