<section class="bg-white sm:bg-transparent border rounded-xl sm:border-0 shadow-md sm:shadow-none dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:px-12">
    <%= render HeadingComponent.new(tag: :h2, scheme: :secondary) do %>
      <%= link_to @project.title, project_path(@project) %>
    <% end %>
    <p class="text-start mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
      <%= link_to project_path(@project) do %>
        <%= @project.description.split("\n").first %>
      <% end %>
    </p>

    <%= render Modal::ToggleButtonComponent.new(scheme: :none,
                                                size: :none,
                                                modal_id: "project-contacts-#{@project.id}",
                                                class: "inline-flex items-center max-w-full md:max-w-lg lg:max-w-2xl py-1 px-1 pr-4 mb-7 text-sm text-gray-700 bg-gray-100 rounded-full dark:bg-gray-800 dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700") do %>
      <%= tag.span t(".contacts"),
                   class: "flex-shrink-0 text-xs bg-blue-600 rounded-full text-white px-4 py-1.5 mr-3"
      %>
      <span class="flex gap-2 overflow-hidden flex-shrink truncate">
        <% @project.coordinators.each do |coordinator| %>
          <span class="flex items-center gap-2 text-sm font-medium">
            <%= render AvatarComponent.new(coordinator, size: :extra_small) %>
            <%= tag.span coordinator.name, class: "dark:text-white truncate" %>
          </span>
        <% end %>
      </span>
      <svg class="flex-shrink-0 ml-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a 1 0 01-1.414 0z" clip-rule="evenodd"></path>
      </svg>
    <% end %>

    <%= content_for :modal do %>
      <%= render Modal::DialogComponent.new("project-contacts-#{@project.id}") do |modal| %>
        <% modal.heading(t(".modal.title")) %>
        <%= render Modal::ParagraphComponent.new do %>
          <%= t ".modal.content" %>
        <% end %>
        <%= render Modal::ContactListComponent.new(@project.coordinators) %>
        <% modal.button(scheme: :light, type: :reset) do  %>
          <%= t ".modal.close_button" %>
        <% end %>
      <% end %>
    <% end %>

    <%= render ButtonGridComponent.new(tag: :a, size: :large) do |grid| %>
      <% grid.button(href: project_path(@project),
                     scheme: :alternative)
             .with_content(t(".more_button"))
      %>
      <% grid.button(href: project_tasks_path(@project))
             .with_content(t(".tasks_button", count: @project.tasks.is_published.size)) %>
    <% end %>
  </div>
</section>
<%= render TendrilTasks::HorizontalLine.new %>
