<%# Application for taking over a task %>
<li class="mb-10 ms-8" id="task-application-<%= @application.user.id %>">
  <span class="absolute flex items-center justify-center bg-gray-100 rounded-full -start-5 ring-8 ring-white dark:ring-gray-700 dark:bg-gray-600">
    <%= render AvatarComponent.new(@application.user) %>
  </span>
  <div class="flex flex-row">
    <div>
      <%= render HeadingComponent
                   .new(tag: :h4,
                        scheme: :senary,
                        class: "mb-1 whitespace-nowrap") do %>
        <%# Applicant's name %>
        <% withdrawal_visual = @application.withdrawn? ? "line-through" : "" %>
        <%= content_tag :span, class: withdrawal_visual do %>
          <%= @application.user.name %>
        <% end %>
        <%# New application badge %>
        <%= render BadgeComponent.new("Neu", scheme: :green, size: :small, class: "ms-2 align-text-top") if is_new? %>
      <% end %>
      <%# Submission date %>
      <time class="block mb-3 text-sm font-normal leading-none text-gray-500 dark:text-gray-400">Beworben am <%= l @application.created_at, format: :long %></time>
      <%# Withdrawal date %>
      <%# Todo replace with withdrawn_at after migration %>
      <% if @application.withdrawn_at.present? %>
        <time class="block mb-3 text-sm font-normal leading-none text-gray-500 dark:text-gray-400">Zurückgezogen am <%= l @application.withdrawn_at, format: :long %></time>
      <% end %>
    </div>
    <div class="grow text-end">
      <%= render TaskApplication::StatusComponent.new(@application) %>
    </div>
  </div>
  <%# User comment %>
  <% paragraphize(@application.comment)&.each do |paragraph| %>
    <p class="mb-2 text-base font-normal text-gray-500 lg:text-lg dark:text-gray-400"><%= paragraph %></p>
  <% end %>
  <%= render ContactButtonComponent.new(@application.user, is_responsive: false) %>
</li>
