<%= render ContentComponent.new do %>
  <%# Headline %>
  <% case @type %>
  <% when :all_published_tasks %>
    <%= render 'tasks/index/headline_for_all_published_tasks',
               count: @tasks.size
    %>
  <% else %>
    <%= render partial: 'tasks/index/headline_for_filtered_by_initiative',
               locals: {
                 count: @tasks.size,
                 project: @selected_project
               }
    %>
  <% end %>

  <%# Filter by projects %>
  <% if @projects.size > 0 %>
    <ul class="flex flex-wrap gap-2">
      <%= link_to tasks_path do %>
        <li>
          <%= render BadgeComponent
                       .new(t(".filter_by_project.show_all"),
                              size: :extra_large,
                              border: !params[:project_id].present?)
          %>
        </li>
      <% end %>
      <% @projects.each do |project| %>
        <li>
          <%= link_to project_tasks_path(project) do %>
            <%= render BadgeComponent.new(project.title,
                                          size: :extra_large,
                                          scheme: BadgeComponent.scheme_by_id(project.id),
                                          border: (project.id.to_s == params[:project_id])) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <%# Tasks displayed as cards in a grid %>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    <% @tasks.each do |task| %>
      <%= render TaskCardComponent.new(task) %>
    <% end %>
  </div>
  <%= render HorizontalLineComponent.new %>

  <%= render ButtonGridComponent.new(orientation: :vertical, grid_options: { class: "gap-2 text-center" }, size: :large) do |grid| %>
    <%# Link to all tasks when filter is applied %>
    <% grid
         .button(tag: :a,
                 href: tasks_path,
                 scheme: :alternative,
                 class: "w-full text-center")
         .with_content(t ".view_all_tasks") if @type != :all_published_tasks
    %>

    <%# Link to projects for convenience %>
    <% grid
         .button(tag: :a,
                 href: projects_path,
                 scheme: :alternative,
                 class: "w-full justify-center") do |button|
    %>
      <% button.leading_svg xmlns: "http://www.w3.org/2000/svg",
                            fill: "none",
                            viewBox: "0 0 14 10",
                            class: "rotate-180 mt-0.5" do
      %>
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
      <% end %>
      <% t ".goto_initiatives" %>
    <% end %>

    <%# Link to create project %>
    <% grid
         .button(tag: :a,
                 href: new_task_path,
                 class: "w-full")
         .with_content(t ".create_task") if can? :create, Task %>
  <% end %>
<% end %>
