<%= render TendrilTasks::Content.new(width: :large) do %>
  <%= render TendrilTasks::Breadcrumb.new do |breadcrumb| %>
    <% breadcrumb.home %>
    <% breadcrumb.item(t("breadcrumbs.admin")) %>
  <% end %>

  <%= render TendrilTasks::Heading
               .new(tag: :h1, scheme: :level2)
               .with_content(t("admin.title"))
  %>

  <%# Statistics %>
  <%= render TendrilTasks::Heading
               .new(tag: :h2, scheme: :level3)
               .with_content(t("admin.statistics.title")) %>

  <dl class="grid grid-cols-2 md:grid-cols-4 gap-4 md:gap-8">
    <%= render TendrilTasks::Admin::StatsItem
                 .new(t("admin.statistics.users.title"), @stats.users) do
    %>
      <%= render Gustwave::Badge.new("#{@stats.users[:admins]} #{t("admin.statistics.users.admins")}", scheme: :purple) %>
      <%= render Gustwave::Badge.new("#{@stats.users[:editors]} #{t("admin.statistics.users.editors")}", scheme: :indigo) %>
    <% end %>
    <%= render TendrilTasks::Admin::StatsItem
                 .new(t("admin.statistics.projects.title"), @stats.projects) do
    %>
      <%= render Gustwave::Badge.new("#{@stats.projects[:active]} #{t("admin.statistics.projects.published")}") %>
    <% end %>
    <%= render TendrilTasks::Admin::StatsItem
                 .new(t("admin.statistics.tasks.title"), @stats.tasks) do
    %>
      <%= render Gustwave::Badge.new("#{@stats.tasks[:active]} #{t("admin.statistics.tasks.published")}") %>
    <% end %>
    <%= render TendrilTasks::Admin::StatsItem
                 .new(t("admin.statistics.applications.title"), @stats.applications)
    %>
  </dl>

  <%= render Gustwave::HorizontalLine.new %>

  <%# General Settings %>
  <%= render TendrilTasks::Heading
               .new(tag: :h2)
               .with_content(t("admin.settings.title")) %>

  <ol class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <%= render TendrilTasks::Admin::Card.new do |card| %>
      <% card.heading t("admin.users.roles.title") %>
      <% card.paragraph do %>
        <%= t("admin.users.roles.description") %>
      <% end %>
      <% card.button href: admin_users_roles_path do %>
        <%= t("forms.edit") %>
      <% end %>
    <% end %>
    <%= render TendrilTasks::Admin::Card.new do |card| %>
      <% card.heading t("admin.legal.title") %>
      <% card.paragraph do %>
        <%= t("admin.legal.description") %>
      <% end %>
      <% card.button href: admin_legal_index_path do %>
        <%= t("forms.edit") %>
      <% end %>
    <% end %>
    <%= render TendrilTasks::Admin::Card.new do |card| %>
      <% card.heading t("admin.brand.title") %>
      <% card.paragraph do %>
        <%= t("admin.brand.description") %>
      <% end %>
      <% card.button href: edit_admin_brand_path do %>
        <%= t("forms.edit") %>
      <% end %>
    <% end %>
    <%= render TendrilTasks::Admin::Card.new do |card| %>
      <% card.heading t("admin.footer.title") %>
      <% card.paragraph do %>
        <%= t("admin.footer.description") %>
      <% end %>
      <% card.button href: edit_admin_footer_url do %>
        <%= t("forms.edit") %>
      <% end %>
    <% end %>
  </ol>

  <%= render Gustwave::HorizontalLine.new %>

  <%# Monitoring %>
  <%= render TendrilTasks::Heading.new(tag: :h2) do |heading| %>
    <%= t("admin.monitoring.title") %>
    <%= render Gustwave::Badge.new(scheme: :dark, size: :md, pill: true, class: "align-top") do |badge| %>
      <%= link_to TendrilTasks::VERSION, "https://github.com/david-uhlig/tendril-tasks/releases" %>
      <span class="opacity-70 ms-0.5">
        <% if AppConfig.git_commit.present? %>
          (<%= link_to AppConfig.git_commit, "https://github.com/david-uhlig/tendril-tasks/commit/#{AppConfig.git_commit}" %>)
        <% end %>
      </span>
    <% end %>
  <% end %>

  <ol class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <%= render TendrilTasks::Admin::Card.new do |card|
    %>
      <% card.heading t("admin.monitoring.jobs.title") %>
      <% card.paragraph do %>
        <%= t("admin.monitoring.jobs.description") %>
      <% end %>
      <% card.button href: mission_control_jobs_path do %>
        <%= t("admin.monitoring.jobs.view") %>
      <% end %>
    <% end %>
  </ol>
<% end %>
