<%= render Form::BaseFieldComponent.new(@form, @attribute, @label) do %>
  <label class="inline-flex items-center cursor-pointer">
    <%= @form.check_box @attribute, @check_box_options, '1', '0' %>
    <%= checked_state_text_slot if checked_state_text_slot? %>
    <%= tag.span **@options %>
    <%= unchecked_state_text_slot if unchecked_state_text_slot? %>
  </label>
<% end %>
