<%= render Gustwave::Icon.new(:question_circle,
                              size: :sm,
                              data: { "popover-target": "popover-visibility-info" },
                              class: "inline-flex mb-1") %>

<div data-popover id="popover-visibility-info"
     role="tooltip"
     class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400 left-48">
  <div class="p-3 space-y-2">
    <%# Headline %>
    <h3 class="font-semibold text-gray-900 dark:text-white">
      <%= visible? ? t(".visible_for_everyone") : t(".visible_for_coordinators") %>
    </h3>
    <%# Quickinfo %>
    <div class="grid grid-cols-2 gap-2">
      <%= quick_info_line(published?) %>
      <%= quick_info_line(visible?) %>
    </div>
    <%# Detailed info %>
    <%= tag.p t(".properties") %>
    <ul>
      <% if @element.is_a?(Task) %>
        <li class="flex items-center">
          <%= project_published? ? checkmark_icon : cross_icon %>
          <%= t ".initiative_was_published" %>
        </li>
      <% end %>
      <li class="flex items-center mb-1">
        <%= published? ? checkmark_icon : cross_icon %>
        <%= t(".element_was_published", element: @element.class.model_name.human) %>
      </li>
      <% if @element.is_a?(Project) %>
        <li class="flex items-center">
          <%= has_one_published_task? ? checkmark_icon : cross_icon %>
          <%= t ".at_least_one_published_task" %>
        </li>
      <% end %>
    </ul>
  </div>
  <div data-popper-arrow></div>
</div>
