<%= render TendrilTasks::Content.new do %>
  <% projects_size = @projects.size %>
  <%= render TendrilTasks::Heading.new(tag: :h1,
                                       scheme: :level1,
                                       class: "text-center") do
  %>
    <%= render ::Text::Highlight::GradientComponent.new(t(".title", count: projects_size),
                                                        highlight: t(".title_highlight",
                                                                     count: projects_size),
                                                        scheme: :sky_to_emerald)
    %>
  <% end %>

  <%= render TendrilTasks::HorizontalLine.new %>

  <% case projects_size %>
  <% when 0 %>
    <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400"><%= t ".no_initiatives" %></p>
  <% else %>
    <%= render TendrilTasks::Projects::Section
                 .with_collection(@projects, spacer_component: TendrilTasks::HorizontalLine.new) %>
  <% end %>

  <%= render TendrilTasks::HorizontalLine.new %>
  
  <%= render TendrilTasks::ButtonGrid.new(orientation: :vertical,
                                          grid_options: {
                                            class: "gap-2 text-center"
                                          },
                                          size: :lg) do |grid|
  %>
    <%# Link to tasks for convenience %>
    <% grid.button(tag: :a,
                   href: tasks_path,
                   scheme: :alternative,
                   class: "w-full justify-center") do |button|
    %>
      <span><%= t ".goto_tasks_button" %></span>
      <% button.trailing_icon(:arrow_right, size: :lg) %>
    <% end %>

    <%# Link to create project %>
    <% grid
         .button(tag: :a,
                   href: new_project_path,
                   class: "w-full")
         .with_content(t ".create_initiative_button") if can? :create, Project
    %>
  <% end %>
<% end %>
