<%= render TendrilTasks::Content.new(width: :large) do %>
  <%# Breadcrumb navigation %>
  <%= render TendrilTasks::Breadcrumb.new do |breadcrumb| %>
    <% breadcrumb.home %>
    <% breadcrumb.item(Project.model_name.human(count: 2), href: projects_path) %>
    <% breadcrumb.item(@project.title) %>
  <% end %>

  <%#
    Info and action bar for editors and coordinators
    Displays published status and action buttons: edit, create task, and create project
  %>
  <% if can?(:coordinate, @project) ||
        can?(:update, @project) ||
        can?(:create, Project) ||
        can?(:create, Task)
  %>
    <div class="flex flex-row flex-wrap-reverse gap-4">
      <%# Visibility badges %>
      <%= render TendrilTasks::Elements::VisibilityInfoBar.new(@project) %>
      <%# Action buttons %>
      <%= render TendrilTasks::Elements::ActionBar.new(@project) %>
    </div>
  <% end %>

  <%# Project name %>
  <%= render TendrilTasks::Heading
               .new(tag: :h2,
                    scheme: :level2)
               .with_content(@project.title)
  %>
  <%# Project description %>
  <% paragraphize(@project.description, delimiter: "\n\n").each do |paragraph| %>
    <%= render TendrilTasks::Paragraph.new do %>
      <%= paragraph.split("\n").join("<br>").html_safe %>
    <% end %>
  <% end %>
  <%= render TendrilTasks::HorizontalLine.new %>

  <%# Contact persons %>
  <%= render TendrilTasks::Heading
               .new(tag: :h3,
                    scheme: :level3)
               .with_content(t ".contact_persons")
  %>
  <%= tag.p t(".contact_persons_explainer"),
            class: "mb-6 text-base font-normal text-gray-500 lg:text-lg dark:text-gray-400"
  %>
  <%= render Modal::ContactListComponent.new(@project.coordinators) %>
  <%= render TendrilTasks::HorizontalLine.new %>

  <%# Tasks %>
  <%= render TendrilTasks::Heading
               .new(tag: :h3,
                    scheme: :level3)
               .with_content(t(".task_section_headline", initiative_title: @project.title).html_safe)
  %>
  <%# TODO build responsive grid component %>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <% @tasks.each do |task| %>
      <%= render TendrilTasks::Tasks::Card.new(task) %>
    <% end %>
  </div>
  <%= render TendrilTasks::HorizontalLine.new %>

  <div class="grid grid-cols-1 justify-center text-center">
    <%= render Gustwave::Button
                 .new(tag: :a,
                      href: projects_path,
                      scheme: :alternative,
                      size: :lg)
                 .with_content(t ".goto_initiatives_overview")
    %>
  </div>
<% end %>
