<%= render TendrilTasks::Content.new do %>
  <section class="mt-0 lg:mt-8">
    <div class="flex flex-col items-center justify-center px-2 py-4 mx-auto lg:py-0">
      <a class="flex items-center mb-6 text-2xl font-bold text-gray-900 dark:text-white">
        <%= render TendrilTasks::Logo.new(size: :sm, class: "me-3") %>
        <%= Brand.new.name %>
      </a>
      <div class="w-full border border-gray-200 bg-white rounded-lg shadow-lg dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <%= render TendrilTasks::Heading.new(tag: :h1,
                                               scheme: :level4) do %>
            <%= t(".title") %>
          <% end %>
          <%= render TendrilTasks::Paragraph.new(size: :sm) do %>
            <%= t(".content", brand: RocketChatConfig.branding) %>
          <% end %>
          <%= form_tag user_rocketchat_omniauth_authorize_path, method: :post, class: "space-y-4" do %>
            <%= render Gustwave::Button.new(
              type: :submit,
              theme: :gradient_duotone,
              scheme: :purple_to_blue,
              size: :xl,
              class: "w-full justify-center",
              data: { turbo: false }) do |login_button|
            %>
              <% login_button.leading_svg("rocketchat/icon-white.svg") %>
              <%= t(".login_with_rocket_chat_button", brand: RocketChatConfig.branding) %>
            <% end %>
            <p class="text-sm font-light text-gray-500 dark:text-gray-400">
              <%= t(".create_account.prompt") %>
              <%= render Gustwave::Button.new(scheme: :none,
                                              type: :submit,
                                              data: { turbo: false },
                                              class: "p-0 font-medium text-primary-600 hover:underline dark:text-primary-500") do
              %>
                <%= t(".create_account.link_title") %>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </section>
<% end %>
