<%# Application for taking over a task %>
<li class="mb-10 ms-8" id="task-application-<%= @application.user.id %>">
  <span class="absolute flex items-center justify-center bg-gray-100 rounded-full -start-5 ring-8 ring-white dark:ring-gray-700 dark:bg-gray-600">
    <%= render TendrilTasks::Avatar.new(@application.user) %>
  </span>
  <div class="flex flex-row">
    <div>
      <%= render TendrilTasks::Heading
                   .new(tag: :h4,
                        scheme: :level6,
                        class: "mb-1 whitespace-nowrap") do %>
        <%# Applicant's name %>
        <% withdrawal_visual = @application.withdrawn? ? "line-through" : "" %>
        <%= content_tag :span, class: withdrawal_visual do %>
          <%= @application.user.name %>
        <% end %>
        <%# New application badge %>
        <%= render Gustwave::Badge.new(t("badges.new"),
                                       scheme: :green,
                                       pill: true,
                                       border: true,
                                       class: "ms-1 align-text-top opacity-80") if is_new?
        %>
      <% end %>
      <%# Submission date %>
      <time class="block mb-3 text-sm font-normal leading-none text-gray-500 dark:text-gray-400">
        <%= t "task_applications.applied_on_date",
              date: l(@application.created_at, format: :long)
        %>
      </time>
      <%# Withdrawal date %>
      <% if @application.withdrawn_at.present? %>
        <time class="block mb-3 text-sm font-normal leading-none text-gray-500 dark:text-gray-400">
          <%= t "task_applications.withdrawn_on_date",
                date: l(@application.withdrawn_at, format: :long)
          %>
        </time>
      <% end %>
    </div>
    <div class="grow text-end">
      <%= render TendrilTasks::Tasks::ApplicationStatus.new(@application) %>
    </div>
  </div>
  <%# User comment %>
  <% paragraphize(@application.comment)&.each do |paragraph| %>
    <%= tag.p paragraph,
              class: "mb-2 text-base font-normal text-gray-500 lg:text-lg dark:text-gray-400"
    %>
  <% end %>
  <%= render TendrilTasks::ContactButton.new(@application.user,
                                             is_responsive: false)
  %>
</li>
