<button type="button"
        id="dropdown-status-button-<%= @application.user.id %>"
        data-dropdown-toggle="dropdown-status-info-<%= @application.user.id %>"
        class="<%= CLASS_MAPPINGS[@application.status.to_sym] %> focus:ring-4 focus:outline-none focus:ring-slate-50 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center ms-2"
>
  <%= ICON_MAPPINGS[@application.status.to_sym]&.html_safe %>
  <span class="ms-1 hidden sm:inline-flex"><%= t("activerecord.attributes.task_application.status.#{@application.status}") %></span>
  <% unless @application.withdrawn? %>
    <svg class="w-2.5 h-2.5 ms-2 me-1 hidden sm:inline-flex" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
    </svg>
  <% end %>
</button>

<% unless @application.withdrawn? %>
  <%= form_with url: task_application_status_path(@application.task, @application.user),
                method: :patch,
                id: "dropdown-status-info-#{@application.user.id}",
                data: {
                  controller: "auto-submit"
                },
                class: "z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600 text-start" do |f| %>
    <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
      <%= tag.div t(".selectbox.title") %>
      <%= tag.div t(".selectbox.undertitle"),
                  class: "font-medium truncate"
      %>
    </div>
    <div class="py-2 text-sm text-gray-700" aria-labelledby="dropdown-status-info-<%= @application.user.id %>">
      <% @statuses.each do |status, id| %>
        <% next if status == "withdrawn" %>
          <label class="block w-full text-start px-4 py-2 hover:bg-gray-100">
            <span class="inline-flex align-bottom"><%= ICON_MAPPINGS[status.to_sym]&.html_safe %></span>
            <%= t("activerecord.attributes.task_application.status.#{status}") %>
            <%= f.radio_button :status, status, checked: (@application.status == status), data: { action: "change->auto-submit#immediately" }, class: "hidden" %>
          </label>
      <% end %>
    </div>
    <%= f.submit "Submit", data: { "auto-submit-target": "submit" }, class: "hidden" %>
  <% end %>
<% end %>
