<%# Dropdown button %>
<%= button_tag type: "button",
               id: "dropdown-status-button-#{@application.user.id}",
               "data-dropdown-toggle": "dropdown-status-info-#{@application.user.id}",
               class: "#{color_scheme_for(@application.status)} focus:ring-4 focus:outline-none focus:ring-slate-50 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center ms-2" do
%>
  <%= render_icon_for(@application.status) %>
  <span class="ms-1 hidden sm:inline-flex"><%= t("activerecord.attributes.task_application.status.#{@application.status}") %></span>
  <%# Arrow down icon %>
  <%= render Gustwave::Icon.new(:chevron_down, class: "hidden sm:inline-flex me-0") unless @application.withdrawn? %>
<% end %>

<%# Dropdown options %>
<% unless @application.withdrawn? %>
  <%= form_with url: task_application_status_path(@application.task, @application.user),
                method: :patch,
                id: "dropdown-status-info-#{@application.user.id}",
                data: {
                  controller: "auto-submit"
                },
                class: "z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600 text-start" do |f| %>
    <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
      <%= tag.div t(".selectbox.title") %>
      <%= tag.div t(".selectbox.undertitle"),
                  class: "font-medium truncate"
      %>
    </div>
    <div class="py-2 text-sm text-gray-700" aria-labelledby="dropdown-status-info-<%= @application.user.id %>">
      <% @statuses.each do |status, _| %>
        <% next if status == "withdrawn" %>
        <label class="block w-full text-start px-4 py-2 hover:bg-gray-100 cursor-pointer">
          <span class="inline-flex align-bottom">
            <%= render_icon_for(status) %>
          </span>
          <%= t("activerecord.attributes.task_application.status.#{status}") %>
          <%= f.radio_button :status, status, checked: (@application.status == status), data: { action: "change->auto-submit#immediately" }, class: "hidden" %>
        </label>
      <% end %>
    </div>
    <%= f.submit "Submit", data: { "auto-submit-target": "submit" }, class: "hidden" %>
  <% end %>
<% end %>
