<%= content_tag :li, **@li_options do %>
  <div class="flex items-center">
    <%= @icon[:html] %>
    <% if @href.present? %>
      <%= content_tag :a, href: @href, **@link_options do %>
        <%= @title %>
      <% end %>
    <% else %>
      <span class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400 flex-nowrap"><%= @title %></span>
    <% end %>
  </div>
<% end %>
