<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "RCB Aufgabenportal" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="turbo-prefetch" content="true">

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>


    <%= favicon_link_tag asset_path("icon.svg"), type: "image/svg+xml" %>
    <%= favicon_link_tag asset_path("icon.png"), type: "image/png" %>
    <%= favicon_link_tag asset_path("icon.png"), rel: "apple-touch-icon", type: "image/png" %>

    <%# Includes all stylesheet files in app/views/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-w-[320px] p-3 sm:p-5 bg-white dark:bg-gray-900 antialiased">
    <%# Navigation %>
    <%= render NavigationComponent.new do |navigation| %>
      <% navigation.with_logo(
           src: ENV["LOGO_URL"],
           alt: ENV["LOGO_DESCRIPTION"],
           label: "Mitgestalten") %>
      <% navigation.with_links([
                                 { name: "Start", href: root_path },
                                 { name: "Projekte", href: projects_path },
                                 { name: "Aufgaben", href: tasks_path }]) %>
      <% navigation.with_login_button(
        scheme: :duotone_purple_to_blue,
        data: { turbo: false },
        class: "hidden sm:inline-flex") do |login_button| %>
        <% login_button.with_leading_visual("rocketchat/icon-white.svg", alt: "Rocket.Chat icon") %>
        Anmelden
      <% end %>
    <% end %>

    <%# Content %>
    <main id="main-content" class="container mx-auto mt-6 px-5 max-w-screen-lg space-y-6">
      <%= yield %>
    </main>

    <%# Modals injected through `content_for :modal` %>
    <%= yield :modal %>

    <%# Toast %>
    <% flash.each do |type, message| %>
      <%= render "layouts/flash", type: type, message: message %>
    <% end %>
  </body>
</html>
