<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || AppConfig.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="turbo-prefetch" content="true">

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%= favicon_link_tag asset_path("icon.svg"), type: "image/svg+xml" %>
    <%= favicon_link_tag asset_path("icon.png"), type: "image/png" %>
    <%= favicon_link_tag asset_path("icon.png"), rel: "apple-touch-icon", type: "image/png" %>

    <%# Includes all stylesheet files in app/views/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-w-[320px] dark:bg-gray-900 antialiased">
    <%# Background gradients %>
    <%# -- Bottom right %>
    <div class="fixed inset-0 pointer-events-none -z-[100]">
      <div class="absolute bottom-0 right-0 w-full h-full bg-gradient-to-br from-transparent from-70% via-blue-200 via-90% to-fuchsia-100"></div>
    </div>
    <%# -- Top left %>
    <div class="fixed inset-0 pointer-events-none -z-[99]">
      <div class="absolute bottom-0 right-0 w-full h-full bg-gradient-to-tl from-transparent from-80% via-blue-200 via-95% to-fuchsia-100"></div>
    </div>
    <%# Navigation %>
    <%= render NavigationComponent.new do |navigation| %>
      <% navigation.link(name: t("navigation.home"),
                         href: root_path)
      %>
      <% navigation.link(name: Project.model_name.human(count: 10),
                         href: projects_path)
      %>
      <% navigation.link(name: Task.model_name.human(count: 10),
                         href: tasks_path)
      %>
      <% navigation.with_login_button(scheme: :duotone_purple_to_blue,
                                      data: { turbo: false },
                                      class: "hidden sm:inline-flex") do |login_button|
      %>
        <% login_button.with_leading_visual("rocketchat/icon-white.svg") %>
        <%= t "rocketchat.sign_in_button.short" %>
      <% end %>
    <% end %>

    <%# Content %>
    <main id="main-content" class="container mx-auto mt-10 mb-20 px-5 max-w-screen-lg space-y-6">
      <%= yield %>
    </main>

    <%# Modals injected through `content_for :modal` %>
    <%= yield :modal %>

    <%# Toast %>
    <div id="notifications">
      <% flash.each do |type, message| %>
        <%= render Toast::NotificationComponent.new(message, type: type) %>
      <% end %>
    </div>
  </body>
</html>
